In [70]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import xgboost
import csv as csv
from xgboost import plot_importance
from matplotlib import pyplot
from sklearn.model_selection import cross_val_score,KFold
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from scipy.stats import pearsonr
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import learning_curve, GridSearchCV
from sklearn import linear_model
from sklearn.metrics import explained_variance_score
import math



from sklearn.metrics import mean_absolute_error
import matplotlib.pyplot as plt


from scipy.stats import skew
from collections import OrderedDict

In [20]:
df = pd.read_csv("Insurance_Marketing-Customer-Value-Analysis (1).csv")

In [22]:
print(len(df))

print(len(df.columns))
# Check the data types
print(df.dtypes.unique())

9134
24
[dtype('O') dtype('float64') dtype('int64')]

In [28]:
X=df.drop(columns="Customer")
X=X.drop(columns="Effective To Date")
x = X.loc[:, X.columns != 'Customer Lifetime Value']
y=X.iloc[:,1]
lb=LabelEncoder()
x_encoded = x.apply(LabelEncoder().fit_transform)
x_encoded.head()

,State,Response,Coverage,Education,EmploymentStatus,Gender,Income,Location Code,Marital Status,Monthly Premium Auto,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,4,0,0,0,1,0,3322,1,1,8,...,5,0,0,0,2,0,0,2941,5,1
1,0,0,1,0,4,0,0,1,2,32,...,42,0,7,1,5,2,0,4880,0,1
2,2,0,2,0,1,0,2820,1,1,46,...,38,0,1,1,5,0,0,3897,5,1
3,1,0,0,0,4,1,0,1,1,44,...,65,0,6,0,1,0,2,3764,3,1
4,4,0,0,0,1,1,2510,0,2,12,...,44,0,0,1,3,0,0,1138,0,1

In [58]:
x_train, x_test, y_train, y_test = train_test_split(x_encoded, y, test_size = 0.2, random_state = 0)

In [64]:
xgb = xgboost.XGBRegressor(n_estimators=100, learning_rate=0.08, gamma=0, subsample=0.75,
                           colsample_bytree=1, max_depth=7)

traindf, testdf = train_test_split(x_train, test_size = 0.3)
xgb.fit(x_train,y_train)

D:\Program Files\Anaconda3\lib\site-packages\xgboost\core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

[16:55:23] WARNING: C:/Jenkins/workspace/xgboost-win64_release_0.90/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bynode=1, colsample_bytree=1, gamma=0,
       importance_type='gain', learning_rate=0.08, max_delta_step=0,
       max_depth=7, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=None, subsample=0.75, verbosity=1)

In [68]:
predictions = xgb.predict(x_test)
print(explained_variance_score(predictions,y_test))

0.5487326238401196